<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </div>
  <router-view/>
</template>

<script>
import app from "./firebaseInit";
import { getFirestore, collection, query, getDocs } from "firebase/firestore";
const db = getFirestore(app);

export default {
  name: 'App',
  mounted() {
    this.readData();
  },
  methods: {
    readData: async function() {
      const q = query(collection(db, "cities"));
      const querySnapshot = await getDocs(q);
      querySnapshot.forEach((doc) => {
        // doc.data() is never undefined for query doc snapshots
        console.log(doc.id, " => ", doc.data());
      });
    }
  }
}
// return db.collectionGroup("Posts").where("isVisible", "==", true).get()
//   .then(querySnapshot => {
//      querySnapshot.forEach((doc) => {
//       console.log(doc.data());
//      });
//      return null;
//   })
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
